# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example.gitignore files : https://github.com/github/gitignore
_notes/
/bower_components/
/node_modules/
appCasasFiscalesV02/app/tmp/*
appCasasFiscalesV02/app/Config/core.php
appCasasFiscalesV02/app/Config/database.php
